@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #040714;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #f9f9f9;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 22px;
}

span {
    display: inline-block;
}


main {
    background-image: url('../img/bg-hero.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}


div.login{
    background-color: rgba(0,0,0, 0.5);
    text-align: center;
    padding-top: 10px;
    position: fixed;
    z-index: 99999;
    right: 40px;
    top: 15px;
    width: 98px;
    height: 40px;
    border-radius:3px;
    border:white solid 1.5px;
}

div.login:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

a.entrar {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

a.entrar:hover {
    color: black;
}

section.wrapper {
    padding: 100px 80px;
}

footer {
    border: chartreuse solid;
    padding: 26px 8px;
}

div.hero-content {
    width: 630px;
    /*top: 100px;*/
    /*left: 80px;*/
}

img.logo {
    width: 160px;
}

div.planos {
    margin-left: -12px;

}

div.planos span {
    font-size: 13px;
    font-weight: 200;
}

div.plano-1, .plano-2 {
    display: inline-block;
    padding: 0 12px;
    vertical-align: top;
    width: 49%;
    height: 100%;
}

div.planos h3 {
    margin: 0 0 8px;
    font-size: 28px;
}

.p-plano-1, .p-plano-2{
    font-size: 13px;
    font-weight: 200;
    text-align: left;
    margin: 0 0 16px;
}

.p-plano-1 {
    margin: 0 0 50px;
}

div.btn-teste-gratis-1, .btn-teste-gratis-2 {
    background-color: #0063e5;
    text-align: center;
    height: 56px;
    padding: 19px 14px;
    border-radius: 4px;
}


.btn-teste-gratis-1 a, .btn-teste-gratis-2 a{
    color:  #f9f9f9;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

div.btn-teste-gratis-1:hover, .btn-teste-gratis-2:hover {
    background-color: #2c87ffe7;
    cursor: pointer;
}

.p-oferta {
    font-size: 11px;
    text-align: left;
}

div.grid-item {
    position: absolute;
    margin-top: 70px;
    width: 600px;
}

img.img-grid {
    width: 100%;
}

div.foreground-image, .meta{
    display: inline-block;
    height: 100%;
    width: 49%;
    vertical-align: middle;
}

.meta {
    padding: 0px 45px;
    margin: 20px 0px 0px;
}
.img-foreground {
    width: 100%;
}

.meta h2 {
    font-size: 2.5em;
    margin: 0px 0px 30px;
}

.meta p {
    font-size: 1.1em;
    color: hsla(0,0%,75.3%,.8);
    line-height: 1.5em;
    margin: 0px 0px 24px;
    text-align: left;
}

.img-rei-leao {
    width: 200%;
}

.meta-2 {
    text-align: center;
}

.meta-2 h2 {
    font-size: 2.5em;
    margin: 0px 0px 30px;
}

.meta-2 p {
    font-size: 1.2em;
    color: hsla(0,0%,75.3%,.8);
    line-height: 1.5em;
    margin: 0px 0px 24px;
}

div.grid-capa {
    width: 32%;
    display: inline-block;
    padding: 12px;
}

div.grid-capa img {
    width: 100%;
    border-radius: 4px;
}

div.grid-device {
    border: crimson solid 1px;
    margin: 0 auto;
    vertical-align: top;
    width: 23%;
    display: inline-block;
    padding: 12px;
}

div.grid-device img {
    width: 100%;
    border-radius: 4px;
}

div.grid-device h3, p {
    text-align: center;
}

div.grid-device p {
    font-size: 1.2em;
    color: hsla(0,0%,75.3%,.8);
    line-height: 1.5em;
    margin: 0px 0px 4px;
    font-weight: 400;
}
    